
; Descriptions of Templar 1099 AD nation sets
; These are self-contained subsets of the available nations; one of these
; can be chosen in pregame with the "nationset" option. No nations
; outside the selected subset will be used.
; The first set defined is the one that is used by default. It is mandatory
; to have at least one, but if there is only one, it will be kept out of
; the user`s way.
; name 		= Translatable name of the set presented in the UI.
; rule_name     = Unique persistent name; this is also visible to users as
;                 the value of the "nationset" server option, and presented
;                 in "/list nationsets". It should thus be short, in lower
;                 case, and not contain spaces or punctuation.
;                 The same saved "nationset" setting may be used for multiple
;                 rulesets, so if your custom ruleset has any set which
;                 contains all of its nations, it is useful to give it a
;                 rule_name of "all" so that users can specify that they
;                 always want the choice of all available nations by
;                 default.
; description   = Optional short user description of this set.

[nset_core]
name=_("?nationset:Core")
rule_name="core"
; /* TRANS: Description of 'Core' nation set in default rulesets.
; If you have translated all of the nations in the extended set, not
; just these core nations, feel free to discard the words about
; localization, rather than translating literally. */
description=_("\
A small set of playable nations that should be fully localized into \
languages other than English.\
")
[nset_extended]
name=_("?nationset:Extended")
rule_name="all"
; /* TRANS: Description of the 'Extended' nation set in default rulesets,
; which contains all nations that come with Freeciv.
; If you have only translated the Core nations, replace this
; description to say so rather than making it a literal translation.
; Conversely, if you have translated everything, you can get rid of the
; caveat about localization. */
description=_("\
The complete set of playable nations; this allows for larger games or more \
variety, but not all of these may have been localized into languages other \
than English.\
")

; Descriptions of nation groups
; These are more cosmetic than sets; they affect the "pick nation" dialog,
; and also affect random nation selection.
; It`s OK to not define any nation groups at all.
; name 		= name of the group
; match		= How much the AI will try to select a nation in the same
;                 group

[compatibility]

; Compatibility: these nations are intended for use in a variety of
; rulesets; declare which governments etc the nations may refer to, so that
; nations referencing any of these can be loaded even in rulesets which
; do not have some of them (if a referenced game identifier is not on these
; lists, it will cause an error, to allow typos to be spotted)

allowed_govs =
  "Anarchy", "Despotism", "Monarchy", "Communism", "Fundamentalism",
  "Republic", "Democracy", "Theocracy" ; Ecclesiastical, 
allowed_terrains =
  "Lake", "Ocean", "Desert", "Forest", "Grassland", "Hills", "Jungle",
  "Mountains", "Plains", "Swamp", "Tundra", "Glacier", "River"
allowed_city_styles =
  "European", "Classical", "Tropical", "Asian", "Babylonian", "Celtic"

; Every nation is a member of the "extended" set (no need to specify in
; individual nation specs).
default_nationset = "all"

; Below: nations data loaded from ruleset files for
; all nations available. If you want to have more
; nations, just add the path to your ruleset to this list.
;
; See doc/README.nations for information on how to
; create nation rulesets, including style guidelines.

*include "templars/nation/abbasid.ruleset"
*include "templars/nation/albanian.ruleset"
*include "templars/nation/ayyubid.ruleset"
*include "templars/nation/armenian.ruleset"
*include "templars/nation/barbarian.ruleset"
*include "templars/nation/burgundian.ruleset"
*include "templars/nation/byzantium.ruleset"
*include "templars/nation/castilian.ruleset"
*include "templars/nation/danish.ruleset"
*include "templars/nation/egyptianarab.ruleset"
*include "templars/nation/emirati.ruleset"
*include "templars/nation/english.ruleset"
*include "templars/nation/frankish.ruleset"
*include "templars/nation/french.ruleset"
*include "templars/nation/georgian.ruleset"
*include "templars/nation/germanic.ruleset"
*include "templars/nation/hungarian.ruleset"
*include "templars/nation/iberian.ruleset"
*include "templars/nation/imereti.ruleset"
*include "templars/nation/mamluk.ruleset"
*include "templars/nation/mongol.ruleset"
*include "templars/nation/norman.ruleset"
*include "templars/nation/persian.ruleset"
*include "templars/nation/pirate.ruleset"
*include "templars/nation/polish.ruleset"
*include "templars/nation/scottish.ruleset"
*include "templars/nation/seljuk.ruleset"
*include "templars/nation/swedish.ruleset"
*include "templars/nation/templar.ruleset"
*include "templars/nation/teutonic.ruleset"
*include "templars/nation/timurid.ruleset"
*include "templars/nation/turk.ruleset"
*include "templars/nation/turkmen.ruleset"
*include "templars/nation/vatican.ruleset"
*include "templars/nation/venetian.ruleset"
*include "templars/nation/vikings.ruleset"
